--extra-index-url https://download.pytorch.org/whl/cu126
torch
pydantic
transformers
uvicorn
fastapi
accelerate
https://github.com/KittenML/KittenTTS/releases/download/0.1/kittentts-0.1.0-py3-none-any.whl